.body{
    margin-top:100px ; 
    text-align: center;
}
.logo{
    width:40px ; 
    height: 40px ; 
}
.link{
    gap : 50px ; 
    display:flex ; 
    justify-content:space-evenly;
    margin:50px; 
}