.body{
    margin-top:100px ; 
    text-align: center;
}

h1{
    color:white ; 
    font-size: 2.5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    margin : 25px ; 
}
span{
    color:red ; 
    font-weight:bolder;
}
h3{
    margin-top:50px ; 
    font-size: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    color:white; 
}
.courses{
    height:100% ; 
   display:flex ; 
   flex-direction: row;
    gap:50px ;
    margin:20px 5px 20px 20px ;
    overflow-x: auto;
    flex-wrap: nowrap;
    color:black ; 
}
.course{
    min-width:400px ; 
    height:300px ; 
    /* background-color:rgb(80, 101, 220) ;  */
    background: linear-gradient(175deg, #0000ff 0%, #8a2be2 50%, #000000 100%);
    border-radius:15px ; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display:flex ; 
    justify-content: center;
    align-items: center;
    font-size:1.5rem ;
    font-weight:bold;
}
.courses::-webkit-scrollbar{
    display:none; 
}

.shortdiv{
    min-width:400px ; 
    height:300px ; 
   background: greenyellow ;

    border-radius:15px ; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display:flex ; 
    justify-content: center;
    align-items: center;
    font-size:1.5rem ;
    gap:50px ; 
    font-weight:bold;
}
.shorts{
   height:100% ; 
   display:flex ; 
   flex-direction: row;
    gap:50px ;
    margin:20px 5px 20px 20px ;
    overflow-x: auto;
    flex-wrap: nowrap;
    color:rgb(87, 82, 82) ; 
}
.shorts::-webkit-scrollbar{
    display:none; 
}