.heading{

   color:white ; 
text-align: center;
    padding: 20px 0px; 
}
.container{
       background-color:black ; 
       color:white ; 
}
.gather{
    display:flex; 
    gap:80px ; 
    padding:20px 50px ; 
    justify-content:center; 
}
.row{
    display:flex; 
    flex-direction: column ; 
    gap:10px ;
}
a{
    text-decoration: none;
    color: inherit;
}
hr{
  height: 2px;
  background-image: -webkit-linear-gradient(left, rgba(250, 184, 184, 0),#ff0000, rgba(166, 106, 106, 0));
  padding: 0;
  margin: 20px 10px 30px 10px;
  border: 0;
  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  unicode-bidi: isolate;
  overflow: hidden;
  width:50%; 
}
