*{
  margin:0; padding:0; box-sizing:border-box; font-family: 'helvetica neue', helvetica, arial, sans-serif; 
}
html,body{
  height:100%;
  width:100%; 
  color:rgba(255, 255, 255, 0.727); 
  background-color: rgba(73, 66, 66, 0.934);
}
::selection{
  background-color:red ; 
  color:rgb(0, 0, 0) ; 
}
